asyncio
pyrogram
tgcrypto
python-dotenv
pyromod
motor
pyyaml
bs4
requests
speedtest-cli
aiohttp
prettytable
humanize
uwuify
telegraph
googlesearch-python==1.0.1
aiohttp
aiofiles
gitpython
deep-translator==1.8.3
