asyncio
pyrogram
tgcrypto
python-dotenv
pyromod
motor==3.0.0
pyyaml
requests
speedtest-cli
aiohttp
prettytable
humanize
uwuify
telegraph
aiohttp
aiofiles
gitpython
Wikipedia-API
deep-translator==1.8.3
